{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid bg-1 text-center">
  <table border=1>
    <tr>
      <th align=center>Nama Orang</th>
      <th align=center>Kegiatan</th>
    </tr>
    {% for i in peserta %}
    <tr>
      <th align=center>{{i.Nama_Peserta}}</th>
      <th align=center>{{i.kegiatan}}</th>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
