{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    <form action = "savePeserta" method = "GET"> 
        {% csrf_token %} 
        {{form.as_p}}
        <input type="submit" value="Submit"> 
    </form>
    
</div>
{% endblock content %}